.server-lobby {
  display: flex;
  height: 100vh;
  background-color: #313338;
  color: #dbdee1;
}

.channel-sidebar {
  width: 260px;
  background-color: #2b2d31;
  display: flex;
  flex-direction: column;
}

.server-header {
  padding: 16px;
  font-weight: bold;
  border-bottom: 1px solid #1e1f22;
}

.channel-list {
  padding: 8px;
  flex: 1;
}

.channel-item {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
  color: #949ba4;
}

.channel-item:hover {
  background-color: #3f4147;
  color: #dbdee1;
}

.channel-item.active {
  background-color: #404249;
  color: #ffffff;
}

.channel-prefix {
  margin-right: 6px;
}

.channel-content {
  flex: 1;
  background-color: #313338;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.channel-placeholder {
  color: #949ba4;
  font-size: 18px;
}
.add-channel-btn {
  background: transparent;
  border: none;
  color: #949ba4;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  line-height: 1;
  transition: background 0.15s ease, color 0.15s ease;
}

.add-channel-btn:hover {
  background: #3f4147;
  color: #dbdee1;
}

.add-channel-btn:active {
  background: #404249;
}

.voice-panel {
  position: fixed;
  bottom: 0;
  left: 240px; /* 서버 + 채널 사이드바 */
  right: 240px; /* 멤버 리스트 */
  height: 120px;
  background: #1e1f22;
  border-top: 1px solid #2b2d31;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
}

.voice-header {
  font-size: 13px;
  color: #b5bac1;
  margin-bottom: 6px;
}

.invite-btn {
  width: 100%;
  margin: 8px 0;
  padding: 6px 10px;

  background: transparent;
  border: none;
  color: #b5bac1;

  font-size: 13px;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
}

.invite-btn:hover {
  background: #3f4147;
  color: #ffffff;
}
