/* :root {
  --bg-primary: #36393f;
  --bg-secondary: #2f3136;
  --bg-tertiary: #202225;

  --text-normal: #dcddde;
  --text-muted: #b9bbbe;

  --brand: #5865f2;
  --green: #3ba55d;
  --danger: #ed4245;

  --hover: rgba(79, 84, 92, 0.32);
} */